
 <div class="row">
  <div class="col-md-8">Big Column</div>
  <div class="col-md-4">
  	<form action="search_results" method="POST">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
         <div>
            <input id="search" name="search_term" type="search" placeholder="Search" required>
            <BR><BR>
            <input type="submit">
         </div>
    </form>
  </div>
</div>